
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Wellcome to Book Store application</h1>
    <p>This is the page of out book store application</p>
</body>
</html>
